We are going to prepare a simple dataset file with the labels of our oranges dataset

In [1]:
import os
from pathlib import Path
import pandas as pd

In [18]:
DATA_DIR = 'DATASETS/oranges'

In [19]:
dataset = []
for path in Path(DATA_DIR).rglob('*.jpg'):
    dataset.append({
        "image": path.name,
        "label": str(path.parent).split("/")[-1]
    })

In [20]:
df = pd.DataFrame(dataset)
df.head()

                   image        label
0    FreshOrange (1).jpg  FreshOrange
1   FreshOrange (10).jpg  FreshOrange
2  FreshOrange (100).jpg  FreshOrange
3  FreshOrange (101).jpg  FreshOrange
4  FreshOrange (102).jpg  FreshOrange

In [21]:
df.to_csv(os.path.join(DATA_DIR, 'labels.csv'), index=False)